*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary:#FB2E86;
    --mainfont:"Lato", sans-serif;
}
.btn{
    border:none;
    outline: border;
    color:#fff;
    padding:16px 40px;
    border-radius:2px;
}
.btn_primary{
     background-color: var(--primary);
}
.btn_success{
    background-color: #08D15F;
}
.row{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
.container{
  width:calc(100% - 320px);
  margin: auto;
}
@media screen and (max-width:1200px) {
    /* body{
        background-color: yellow;
    } */
   .container{
  width:calc(100% - 200px);
  
}
    
}
@media screen and (max-width:992px) {
   .container{
  width:calc(100% - 100px);
  
}  
}
@media screen and (max-width:576px) {
   .container{
  width:calc(100% - 40px);
  
}
    
}
.text-white{
    color: #ffffff;
}
.display-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
 flex-direction: column;

}
.items-contain-gap{
  gap:23px;
}
.padding-10{
    padding:50px;
}
.text-center{
    text-align: center;
}
.flex-start{
     align-items: flex-start;
}
.center{
     justify-content:center;
}
.gap-3{
    gap:30px;
}