body {
  font-family: var(--mainfont);
  font-size: 16px;
}
.header {
  padding: 57px 0;
  /* background-color: #ffff00; */
}
.header ul {
  display: flex;
  gap: 35px;
}
.header .bar {
  display: none;
}
@media screen and (max-width: 1200px) {
  .list,.header
  .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
}
.header .list a {
  color: #0d0e43;
}
.header .list .active {
  color: var(--primary);
}
form{
  display: flex;
}
.search form {
  border: 3px solid #e7e6ef;
  border-radius: 5px;
}
.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 10px;
}
.search button {
  border: none;
  outline: none;
  padding: 8px 13px;
  background-color: var(--primary);
}
/* header end */
/* hero start */
.hero{
  background-color: #F2F0FF;
  padding: 50px 0;
}
.hero .hero-image img{
  width:100%;
}
.hero-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex: grow shrink basis :) */
  flex:1 0 60%;
}
.hero-image{
  flex:1 0 30%;
}
.hero-content .content-lamp{
  position: relative;
  bottom:120px;
  width:25%;
  /* background-color: #05E6B7; */
}
/* .hero-content .content-text{
   background-color: purple;
  padding:40px 0; 
} */
.hero-content .content-text p{
 font-size: 12px;
 color:#8A8FB9;
 padding: 4px;
}
.hero-content .content-text .para-1{
 font-size: 12px;
 color: var(--primary);
}
.hero-content .content-text h1{
 font-size: 30px;
}
.hero-content .content-lamp img{
  width:250px;

}
@media screen and (max-width:1440px) {

  .hero-content .content-lamp{
 display: none;
}
}
@media screen and (max-width:900px) {
  .hero-content{
    flex: 1 0 50%;
  }
  .hero-image{
    flex: 1 0 50%;
  }
  
}
/* @media screen and (max-width:700px) {
  .hero-content{
    flex: 1 0 60%;
  }
  .hero-image{
    flex: 1 0 40%;
  }
  
} */
@media screen and (max-width:500px) {
  .hero-content,.hero-image{
    flex: 1 0 100%;
  }
}
/* hero end */
/* featured product start */
.featured-product h2{
  margin-bottom:30px;
  color: #1A0B5B;
  font-size:42px;
}

.featured-product{
   padding:50px 0;
}
.featured-product .row{
  justify-content: flex-start;
  gap:15px;
}
.featured-product .product{
 flex:1 0 250px;
 box-shadow:0px 4px 4px #00000040;
   border-radius:5px;
}
.product .image {
  background-color: #F6F7FB;
  padding:30px;
  position: relative;
 
}
.icon-in-img{
  position: absolute;
  padding:10px;
  display:flex;
  gap:16px;
  align-items: center;
  z-index:0;
 transition: all 0.6s;
  
 
}
.product:hover .icon-in-img{
  z-index:1;
}
.icon-in-img icon-1{
  width:30px;
 height:30px;
}
.icon-in-img icon-2{
  width:17px;
 height:17px;
}
.icon-in-img icon-3{
  width:15px;
 height:15px;
}
.btn-in-img{
  position:absolute;
 bottom: 15px; 
  left: 0;
  right:0;
  margin: auto;
  display:none;
  transition: all 0.6s;
 
}
.product:hover .btn-in-img{
 display: block;
}
.product:hover .product-details{
  background-color:#2F1AC4;
}
.product:hover .image{
  background-color:#F7F7F7;
}
.product:hover .product-details h3{
  color:#ffffff;
}
.product:hover .product-details span{
  color:#ffffff;
}
.product:hover .product-details .color-three{
   background-color:#FFEAC1;
}
.btn-properties{
padding: 10px 20px; 
 font-size:12px;
 border-radius: 2px;
}
.product .image img{
  height: 200px;
  width:200px;
   object-fit: contain;
}
.product-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: all 0.6s;
  /* background-color: yellow; */
}
.product-details h3{
  color:var(--primary);
  transition: all 0.6s;
}
.featured-product .product-info{
  display: flex;
  flex-direction: column;
  gap:12px;
  font-weight: bold;
  color: #151875;
}
.color-option .color{
  width:20px;
  height: 6px;
  border-radius:10px;
  border: none;
  outline: none;
 cursor: pointer;
}
.color-one{
  background-color: #05E6B7;
}
.color-two{
  background-color:var(--primary);
}
.color-three{
  background-color: #00009D;
 transition: all 0.6s;
}
/* featured product end */
/* Leatest Products start */
.Leatest-Products{
  padding:50px 0;
}
.Leatest-Products h2{
  color: #151875;
  font-size: 35px;
  font-weight: 600;
 
}
.list-in-Leatest-Products{
  gap:80px;
  color: #151875;
  padding: 31px 0px;
}
.product_leatest .image img{
 width:300px;
 height:300px;
 object-fit: contain;
 transition: all 0.6s;
}
.list-in-Leatest-Products li:hover{
  color: var(--primary);
  text-decoration: underline;

}
.Leatest-Products .product_leatest{
  flex:1 0 350px;
  
}
.product-leatest-details h3{
  font-size: 16px;
    color: #1A0B5B;
  font-weight: 600;
  
}
.product-leatest-details .price{
  display: flex;
  gap: 10px;
}
.price span{
  color: #1A0B5B;
  font-weight: 600;
  font-size:12px;
}
.price .old-price{
  color:#FB2448;
   text-decoration: line-through;
}
.product_leatest{
  /* background-color: yellow; */
  position: relative;
}
.product_leatest .image {
  background-color:#F7F7F7;
  transition: all 0.6s;

}
.product_leatest:hover .image {
  background-color: #fff;
}
.product_leatest:hover .image img {
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.585));
}
.Leatest-Products .row{
  justify-content: flex-start;
  gap:37px;
}
.product_leatest .icon-in-img{
 display: none;
 transition: all 0.6s;
}
.product_leatest:hover  .icon-in-img{
   position: absolute;
  padding:10px;
  display:flex;
  gap:16px;
  align-items: center;
  flex-direction: column;
  bottom:80px;

}
.product_leatest .sale{
 display: none;
 transition: all 0.6s;
}
.product_leatest:hover  .sale{
   position: absolute;
  display:flex;
  gap:16px;
  align-items: center;

}
.product-leatest-details{
  display: flex;
 justify-content: space-between;
  padding:10px 0;
  /* background-color: yellow; */

}
/* Leatest Products end */
/* shopex offer start */
.Shopex-Offer{
  padding: 50px 0;
}
.Shopex-Offer h2{
 margin-bottom: 30px;
 color: #1A0B5B;
 font-size: 40px;
}
.Shopex-Offer  .offer{
  display: flex;
  flex-direction: column;
  gap:10px;
padding:40px 50px;

box-shadow:0px 4px 4px #1a0b5b2c;
font-size: 15px;

}
.Shopex-Offer .row {
 gap:28px;
}
.Shopex-Offer .offer {
 width:300px;
 height:300px;
 object-fit: contain;
}

 .offer p{
  color:#1a0b5b3f;
}
.Shopex-Offer .offer {
  flex:1 0 250px;
  
}
/* shopex end */
/* Trending Products start */
.trending-products{
  padding:50px 0;
}
.trending-products h2{
  color: #1A0B5B;
  margin-bottom:50px;
  font-size: 40px;
}
.trend-product{
   box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.trend-product img{
  width:200px;
 height:200px;
   object-fit: contain;
}
.trending-products .row{
  justify-content: center;
  gap:20px;
}
.Shopex-Offer .offer {
  flex:1 0 250px;
  
}
.trend-product .image-trend{
  background-color: #F5F6F8;
  padding:30px;
  margin:12px 12px;
}
.trend-product .trend-details{
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #151875;
  font-weight: 700;
} 
.trend-product .trend-details .price-trend{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.trend-product .trend-details .price-trend .old-price{
  color:#15187537;
  text-decoration: line-through;
}
/* Trending Products emd */
/* newsleter start */
.newsleter{
  background-image: url(../img/bg_newsleter.webp);
  padding:175px 0;
  text-align:center;
  /* background-attachment:fixed; */
}
.newsleter h2{
  margin-bottom:50px;
  color: #151875;
  font-size:35px;
  
}
.shop-btn{
  transition:all 0.5s;
}
.shop-btn:hover{
  background-color: #151875;
}
/* newsleter end */
/* <clients start */
.clients{
  padding:50px 0;
}
.clients .row{
flex-wrap: nowrap;
gap:15px;
overflow-x:auto;

}
.clients .logo{
  width:calc((100% - 120px )/9);
}

.clients img{
  width:150px;
  height:150px;
}
@media screen and (max-width:900px) {
  .clients .logo{
  width:calc((100% - 30px )/3);
}
}
/* clients end */
/* footer start */
.footer{
  background-color:#EEEFFB;
  padding:50px 0;
}
.footer .row{
 gap :35px
}
.footer .left_side{
  gap:15px;
  align-items: flex-start;
  width:calc((100% - 35px )/2);
  /* background-color:yellow; */
}
 .footer .right_side{
    width:calc((100% - 35px )/2);
  /* background-color: yellowgreen; */
} 
.footer .right_side .row{
  gap:35px;
  align-items: flex-start;
}

.footer a ,.adress_info{
  color: #8A8FB9;
}
.footer-item-gap{
    gap:35px;
  font-size:10px;
    width:calc(( 100% - 70px )/3);
}
@media screen and (max-width:1100px) {
 /* body{
  background-color: blueviolet;
 }   */
    .footer .left_side , .footer .right_side{
      width:100%;
    }
}
@media screen and (max-width:650px) {
 /* body{
  background-color: blueviolet;
 }   */
    .footer{
      text-align: center;
    }
   .footer-item-gap{
    width:100%;
    /* text-align: center; */
   }
}
/* footer end */