body {
  font-family: var(--mainfont);
  font-size: 16px;
}
.header {
  padding: 57px 0;
  /* background-color: #ffff00; */
}
.header ul {
  display: flex;
  gap: 35px;
}
.header .bar {
  display: none;
}
@media screen and (max-width: 1200px) {
  .list,.header
  .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
}
.header .list a {
  color: #0d0e43;
}
.header .list .active {
  color: var(--primary);
}
form{
  display: flex;
}
.search form {
  border: 3px solid #e7e6ef;
  border-radius: 5px;
}
.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 10px;
}
.search button {
  border: none;
  outline: none;
  padding: 8px 13px;
  background-color: var(--primary);
}
/* header end */
/* newsleter start */
.newsleter{
  background-image: url(../img/bg_newsleter.webp);
  padding:175px 0;
  text-align:center;
  /* background-attachment:fixed; */
}
.newsleter h2{
  margin-bottom:50px;
  color: #151875;
  font-size:35px;
  
}
.shop-btn{
  transition:all 0.5s;
}
.shop-btn:hover{
  background-color: #151875;
}
/* newsleter end */
/* <clients start */
.clients{
  padding:50px 0;
}
.clients .row{
flex-wrap: nowrap;
gap:15px;
overflow-x:auto;

}
.clients .logo{
  width:calc((100% - 120px )/9);
}

.clients img{
  width:150px;
  height:150px;
}
@media screen and (max-width:900px) {
  .clients .logo{
  width:calc((100% - 30px )/3);
}
}
/* clients end */
/* footer start */
.footer{
  background-color:#EEEFFB;
  padding:50px 0;
}
.footer .row{
 gap :35px
}
.footer .left_side{
  gap:15px;
  align-items: flex-start;
  width:calc((100% - 35px )/2);
  /* background-color:yellow; */
}
 .footer .right_side{
    width:calc((100% - 35px )/2);
  /* background-color: yellowgreen; */
} 
.footer .right_side .row{
  gap:35px;
  align-items: flex-start;
}

.footer a ,.adress_info{
  color: #8A8FB9;
}
.footer-item-gap{
    gap:35px;
  font-size:10px;
    width:calc(( 100% - 70px )/3);
}
@media screen and (max-width:1100px) {
 /* body{
  background-color: blueviolet;
 }   */
    .footer .left_side , .footer .right_side{
      width:100%;
    }
}
@media screen and (max-width:650px) {
 /* body{
  background-color: blueviolet;
 }   */
    .footer{
      text-align: center;
    }
   .footer-item-gap{
    width:100%;
    /* text-align: center; */
   }
}
/* footer end */